.media .d-flex h6 {
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: #2bc0a4;
    line-height: 75px;
}

.media .media-body {
    padding-left: 32px;
}

.divwidth{
	width: 70%;
}

.div-width-head{
	width: 35%;
}

@media (min-width: 280px) and (max-width: 504px) {
	.div-width-head{
		width: 65%;
	}
}