.media .d-flex h6 {
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: #2bc0a4;
    line-height: 75px;
}

.media .media-body {
    padding-left: 32px;
}

.divwidth{
	width: 70%;
}

.div-width-head{
	width: 35%;
}

@media (min-width: 280px) and (max-width: 504px) {
	.div-width-head{
		width: 65%;
	}
}

#team .info p {
	text-transform: none !important;
}

#team .team-item figure img {
    width: 146px !important;
    height: 189px !important;
}

.section {
    padding: 30px 0 !important;
    padding-top: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 30px !important;
    padding-left: 0px !important;
}

.page-header-content h2 {
    color: #ddd;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}
.page-header-section {
    background: #5998cf;
}

.featured-box .featured-content p {
    font-size: 15px !important;
}